<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<style>
div.show {
    position: relative;
    bottom: -175px;
    left: 400px;
    width:142px;
    border:2px solid blue;
}
div.upload {
    position: relative;
    bottom: -124px;
    left: 600px;
    width:150px;
    border:2px solid blue;
}
div.image{
	position: relative;
}
</style>
<body>
<div class="image">
<img src="/media/documents/ts_logo.png" width="300px" heigth="300px" class="img-responsive"></img>
</div>
<div class="container">
	<form action="{%url 'display' %}">{%csrf_token%}	
	<div class="show">
		<button type="submit" class="btn btn-lg">Show gallery</button>
	</div>
	</form>
	<form action="{%url 'upload' %}">{%csrf_token%}
	<div class="upload">
		<button type="submit" class="btn btn-lg">Upload image</button>
	</div>
	</form>
</div>

</body>
</html>
