<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <form role="form" method = 'POST' action="{% url 'update' %}"  enctype="multipart/form-data">{%csrf_token%}
     {% for field in form %}
                <div class="control-group">
		   <label  class="control-label col-sm-2">{{ field.label }}:&nbsp;*</label> 
 		    {% if field.help_text %}
		    <span class="help-block">{{ field.help_text }}</span>
 		   {% endif %}
                   
                    <span class="controls">{{ field }}</span>
		    <div style="color:red">{{ field.errors|striptags }}</div>

                   </div></br>
        {% endfor %}
    <button align = center type="submit" class="btn btn-default">Submit</button>

    </form>

</div>

</body>
</html>
  
